<div class="contact">
  <a class="contact__item" href="https://github.com/Dschungelabenteuer">
    <span class="icon">{%- include images/icons/github.svg -%}</span>
    Github
  </a>
  <a class="contact__item" href="https://twitter.com/yungezeit">
    <span class="icon">{%- include images/icons/twitter.svg -%}</span>
    Twitter
  </a>
  <a class="contact__item" href="https://www.linkedin.com/in/charles-gruenais-773a316b/">
    <span class="icon">{%- include images/icons/linkedin.svg -%}</span>
    LinkedIn
  </a>
  <a class="contact__item" href="https://500px.com/yungezeit">
    <span class="icon">{%- include images/icons/500px.svg -%}</span>
    500px
  </a>
</div>
