<div class="landscape js-landscape">
  <button class="landscape__disable js-disable-parallax">
    {%- include images/icons/disable-parallax.svg -%}
  </button>
  <div class="landscape__layer" data-layer="stars"></div>
  <div data-type="parallax" data-depth="0.050" class="landscape__layer" data-layer="background"></div>
  <div data-type="parallax" data-depth="0.250" class="landscape__layer" data-layer="layer4"></div>
  <div data-type="parallax" data-depth="0.475" class="landscape__layer" data-layer="layer3"></div>
  <div class="landscape__layer" data-layer="logo">
    {%- include images/logo.svg -%}
  </div>
  <div data-type="parallax" data-depth="0.600" class="landscape__layer" data-layer="layer2"></div>
  <div data-type="parallax" data-depth="0.750" class="landscape__layer" data-layer="layer1"></div>
  <div data-type="parallax" data-depth="1.000" class="landscape__layer" data-layer="foreground"></div>
  <div data-type="parallax" data-depth="1.000" class="landscape__layer" data-layer="overflow"></div>
</div>