<section class="skills section">
  <article class="skills__category skills__category--used" role="button" aria-controls="modal-used" tabindex="0">
    <div class="category__heading">
      <span class="category__icon">{%- include images/icons/used.svg -%}</span>
      <h4 class="category__title">Things I've used</h4>
    </div>
    <div>
      <ul class="category__set">
        {% for item in site.data.skills.used %}
        {% if item.featured %}
        <li class="category__item">{{ item.label }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      <button class="category__more" tabindex="-1" type="button">Click to view all</button>
    </div>
  </article>
  <article class="skills__category skills__category--familiar" role="button" aria-controls="modal-familiar" tabindex="0">
    <div class="category__heading">
      <span class="category__icon">{%- include images/icons/familiar.svg -%}</span>
      <h4 class="category__title">Things I'm familiar with</h4>
    </div>
    <div>
      <ul class="category__set">
        {% for item in site.data.skills.familiar %}
        {% if item.featured %}
        <li class="category__item">{{ item.label }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      <button class="category__more" tabindex="-1" type="button">Click to view all</button>
    </div>
  </article>
  <article class="skills__category skills__category--aware" role="button" aria-controls="modal-aware" tabindex="0">
    <div class="category__heading">
      <span class="category__icon">{%- include images/icons/aware.svg -%}</span>
      <h4 class="category__title">Things I'm aware of</h4>
    </div>
    <div>
      <ul class="category__set">
        {% for item in site.data.skills.aware %}
        {% if item.featured %}
        <li class="category__item">{{ item.label }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      <button class="category__more" tabindex="-1" type="button">Click to view all</button>
    </div>
  </article>
</section>