<section class="skills section">
  <article class="skills__category skills__category--used" role="button" aria-controls="modal-used">
    <div class="category__heading">
      <span class="category__icon">{%- include images/icons/used.svg -%}</span>
      <h4 class="category__title">Things I've used</h4>
    </div>
    <div>
      <ul class="category__set">
        {% for item in site.data.skills.used %}
        {% if item.featured %}
        <li class="category__item">{{ item.label }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      <button class="category__more" type="button">Click to view all</button>
    </div>
  </article>
  <article class="skills__category skills__category--familiar" role="button" aria-controls="modal-familiar">
    <div class="category__heading">
      <span class="category__icon">{%- include images/icons/familiar.svg -%}</span>
      <h4 class="category__title">Things I'm familiar with</h4>
    </div>
    <div>
      <ul class="category__set">
        {% for item in site.data.skills.familiar %}
        {% if item.featured %}
        <li class="category__item">{{ item.label }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      <button class="category__more" type="button">Click to view all</button>
    </div>
  </article>
  <article class="skills__category skills__category--aware" role="button" aria-controls="modal-aware">
    <div class="category__heading">
      <span class="category__icon">{%- include images/icons/aware.svg -%}</span>
      <h4 class="category__title">Things I'm aware of</h4>
    </div>
    <div>
      <ul class="category__set">
        {% for item in site.data.skills.aware %}
        {% if item.featured %}
        <li class="category__item">{{ item.label }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      <button class="category__more" type="button">Click to view all</button>
    </div>
  </article>
  <!--<button type="button" aria-controls="modal-familiar">Open modal 1</button>
  <button type="button" aria-controls="modal-used">Open modal 2</button>
  <button type="button" aria-controls="modal-aware">Open modal 3</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus orci vitae rutrum laoreet. In ultrices, odio a ullamcorper pellentesque, metus nisl eleifend diam, vel feugiat leo lacus ut orci. Mauris vestibulum nec justo non consectetur. Sed molestie dictum mi nec consectetur. Ut accumsan justo in laoreet egestas. Nunc faucibus convallis felis quis luctus. Pellentesque dapibus egestas tincidunt. Etiam porta tellus sit amet felis feugiat semper. Morbi suscipit nec orci ultricies pharetra. Sed cursus, magna a suscipit sollicitudin, metus lorem malesuada eros, in consectetur mauris lacus id odio. Phasellus semper leo nec ullamcorper lobortis.</p>
  <p>Quisque rutrum, enim ut congue feugiat, risus massa varius dui, sit amet eleifend nunc ex in risus. Etiam at eros ipsum. Sed ut blandit turpis. Maecenas ornare sed tortor ut posuere. Curabitur suscipit eros turpis, vel imperdiet justo tristique non. Morbi ac ligula nec nibh fringilla mollis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent sem libero, hendrerit vehicula arcu non, viverra faucibus est. Duis eu placerat mauris. Mauris molestie arcu non laoreet rutrum. Quisque suscipit libero est, in tempus nisi rhoncus eu. Maecenas in fermentum nisl. Praesent quis quam lobortis, pharetra ligula eu, imperdiet eros. Pellentesque et sapien et mauris volutpat pretium.</p>
  <p>Etiam dignissim placerat maximus. Proin sed quam eget enim ultrices sagittis vitae eu mauris. Vestibulum nec congue leo, ac volutpat tellus. Aliquam sit amet dolor in urna dictum blandit sed vel orci. Ut eleifend tincidunt est sed lacinia. Vivamus eu auctor mauris. Nunc vehicula nulla lorem, sit amet porttitor libero dapibus sit amet. Fusce iaculis ipsum quis feugiat auctor. Suspendisse potenti. Integer malesuada sollicitudin nisl id blandit. Praesent ac mattis ex, fermentum elementum elit. Etiam urna purus, lacinia in dignissim nec, aliquet vel mauris. Maecenas ut libero lorem.</p>
  <p>Morbi neque diam, lobortis ut nunc et, luctus laoreet mauris. Integer imperdiet rutrum finibus. Proin sollicitudin tempus mauris eu finibus. Phasellus tincidunt malesuada mi et posuere. Praesent congue sagittis arcu vitae facilisis. Nunc ut metus at nibh placerat aliquam at quis diam. Maecenas in libero convallis, fringilla urna sed, ultricies diam. Nunc eu porta mi.</p>
  <p>Aenean ligula nibh, ultricies quis orci sit amet, volutpat vehicula sem. Nullam in cursus ipsum. Cras lacinia nisi ipsum, ut imperdiet erat pulvinar vel. Integer dapibus quis nisl eget malesuada. Phasellus nec massa mollis, imperdiet urna et, iaculis sem. Vivamus sit amet ex semper, cursus est sit amet, porttitor magna. Cras at dui ac augue viverra euismod. Aenean maximus, lorem vel consectetur lobortis, mi risus ultricies quam, ut scelerisque sapien justo et nisl. Etiam quis nisi ornare, porttitor urna quis, imperdiet ex.</p>-->
</section>