// Box-shadow variables
@import 'colors';

$shadow-xs: 0 1px 3px rgba($background-dark, 0.08), 0 1px 2px rgba($background-dark, 0.12);
$shadow-s: 0 3px 6px rgba($background-dark, 0.10), 0 3px 6px rgba($background-dark, 0.12);
$shadow-m: 0 10px 20px rgba($background-dark, 0.10), 0 6px 6px rgba($background-dark, 0.12);
$shadow-l: 0 14px 28px rgba($background-dark, 0.10), 0 9px 9px rgba($background-dark, 0.12);
$shadow-xl: 0 19px 38px rgba($background-dark, 0.10), 0 15px 12px rgba($background-dark, 0.12);

// Classes helpers
.bs {
  &--xs {
    border-radius: $shadow-xs;
  }

  &--s {
    border-radius: $shadow-s;
  }

  &--m {
    border-radius: $shadow-m;
  }

  &--l {
    border-radius: $shadow-l;
  }

  &--xl {
    border-radius: $shadow-xl;
  }
}
