// Landscape style
.landscape {
  position: relative;
  height: 100vh;
  background: $background-dark;
  overflow: hidden;

  &__disable {
    position: absolute;
    left: calc(50% - 1.5rem);
    bottom: 1rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: $radius-s;
    background: rgba($color-black, 0.2);
    cursor: pointer;
    transition: all 200ms ease;
    z-index: 12;

    &:focus {
      outline: 2px solid $color-dark-text;
    }

    &:hover,
    &:focus {
      background: rgba($color-black, 0.3);

      svg {
        fill: $background-light;
      }
    }

    svg {
      transition: all 200ms ease;
      fill: $color-dark-text;
    }
  }

  &__layer {
    position: fixed;
    width: $aside-width;
    max-width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    transition: all cubic-bezier(0, 0.78, 0, 0.99) 2000ms;

    @include media('tablet', 'maximum') {
      width: 100%;
    }

    &[data-layer^="background"] {
      background-position: top left;
      transform: translateY(-100vh);
      z-index: 1;
    }

    &[data-layer^="foreground"] {
      position: absolute;
      width: 100%;
      background-position: top center;
      transform: translateY(-200vh);
      z-index: 7;
    }

    &[data-layer^="overflow"] {
      position: absolute;
      width: 100%;
      background-color: $background-dark;
      transform: translateY(-104vh);
      z-index: 8;
    }

    &[data-layer^="layer1"] {
      background-position: top right;
      transform: translateY(-180vh);
      z-index: 6;
    }

    &[data-layer^="layer2"] {
      background-position: top left;
      transform: translateY(-160vh);
      z-index: 5;
    }

    &[data-layer^="layer3"] {
      background-position: top center;
      transform: translateY(-140vh);
      z-index: 4;
    }

    &[data-layer^="layer4"] {
      background-position: top left;
      transform: translateY(-120vh);
      z-index: 3;
    }

    &[data-layer^="stars"] {
      opacity: 0;
      transition: opacity 2s ease;
      z-index: 2;

      &.visible {
        opacity: 1;
      }
    }

    &[data-layer^="logo"] {
      position: fixed;
      margin-top: 30vh;
      opacity: 0;

      text-align: center;
      transition: all ease 1.25s;
      transition-delay: 200ms;
      transform: translateY(-1.5rem) scale(1.1);
      z-index: 7;

      @include media('tablet', 'maximum') {
        width: 100%;
      }

      &.visible {
        opacity: 1;
        transform: translateY(-2rem) scale(1);
      }

      svg {
        max-width: 14rem;

        @include media('tablet', 'maximum') {
          max-width: 11rem;
        }
      }
    }
  }
}
